body {
	background: #ebebeb;
	margin: 0;
	padding: 0;
}

/**{

}*/

.nav-bar {
	background-color: #7d7d7d;
	position: fixed;
	z-index: 2;
	width: 100%;
	font-family: sans-serif;
}

.nav-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-bar > ul > li {
	float: right;
}

.nav-bar li a {
	display: inline-block;
	color: #fff;
	text-align: left;
	padding: 20px 30px;
	text-decoration: none;
}

.nav-bar li a:hover{
	background-color: #707070; 
}

li.dropdown {
	display: inline-block;
}

.dropdown:hover .isi-dropdown {
	display: block;
}

.isi-dropdown a:hover {
	color: #7d7d7d !important;
}

.isi-dropdown {
	position: absolute;
	display: none;
	width: 100%;
	box-shadow: 0px 8px 16px 0px solid #fff;
	z-index: 1;
	background-color: #f9f9f9;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.isi-dropdown a {
	color: #3c3c3c !important;
	width: 100%;
	border-bottom: 0px solid #ccc;
}

.isi-dropdown a:hover {
	color: #232323 !important;
	background: #ccc !important;
}


.hidden{
	background: transparent;
	position: relative;
	z-index: -1;
	color: transparent;
}

.tengah{
	margin: 90px auto;
	width: 1150px;
}

.kotak_tengah{
	background: #fff;
	padding: 20px 30px;
	margin: 100px 0px 0px 435px;
	position: relative;
	width: 350px;
	height: 300px auto;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 10px 1px #7d7d7d;
	border: 0px solid #fff;
}

.kotak_tengah2{
	background: #fff;
	padding: 20px 30px;
	margin: 100px 0px 0px 385px;
	position: relative;
	width: 450px;
	height: 300px auto;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 10px 1px #7d7d7d;
	border: 0px solid #fff;
}

.kotak_dalam {
	border-bottom: 3px solid #d7d7d7;
	font-family: cursive;
	text-align: center;
	/*float: left;*/
	padding-bottom: 5px;
	margin-bottom: 10px;
	color: #00aeef;
	width: 100%;
	font-size: 20pt;
}

.button_gantipass:link{
	background: #00aeef;
	border-radius: 4px;
	float: right;
	padding: 8px 15px;
	padding-top: 9px;
	border: 0px ;
	font-family: sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
}
.button_gantipass:hover{
	background: #0072bc;
}
.button_gantipass:active{
	color: #565656;
}
.button_gantipass:visited{
	background: #00aeef;
	color: #fff;
}

.button_upload{
	background-color: #00aeef;
	padding: 8px 31px;
	margin-right: 10px;
	border-radius: 4px;
	border: 0px;
	font-size: 12px;
	font-family: sans-serif;
	text-decoration: none;
	float: left;
	color: #fff;
}
.button_upload:hover{
	background: #0072bc;
}
.button_upload:active{
	color: #565656;
}
.button_upload:visited{
	background: #00aeef;
	color: #fff;
}

.button_update{
	background: #00aeef;
	float: right;
	position: relative;
	margin-right: 40px;
	border-radius: 4px;
	padding: 8px 22px;
	border: 0px ;
	font-family: sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: #fff;
}
.button_update:link,
.button_update:hover{
	background: #0072bc;
}
.button_update:active{
	color: #565656;
}
.button_update:visited{
	background: #00aeef;
	color: #fff;
}

.button_back{
	position: relative;
	float: right;
	height: 20px;
	width: 100px auto;
	padding: 8px 26px 3px 26px;
	margin-right: 12px;
	border-radius: 3px;
	border: 1px solid #555;
	font-size: 14px;
	font-family: sans-serif;
	text-decoration: none;
	position: static;
}
.button_back:link,
.button_back:active{
	background: #b7b7b7;
	border: 1px solid #b7b7b7;
	color: #fff;
}
.button_back:visited{
	border: 1px solid #b7b7b7;
	background: transparent;
	color: #fff;
}
.button_back:hover{
	border: 1px solid #959595;
	background: #959595;
	color: #fff;
}

.button_back{
	position: relative;
	float: right;
	height: 20px;
	width: 100px auto;
	padding: 8px 26px 3px 26px;
	margin-right: 12px;
	border-radius: 3px;
	border: 1px solid #555;
	font-size: 14px;
	font-family: sans-serif;
	text-decoration: none;
	position: static;
}
.button_back:link,
.button_back:active{
	background: #b7b7b7;
	border: 1px solid #b7b7b7;
	color: #fff;
}
.button_back:visited{
	border: 1px solid #b7b7b7;
	background: transparent;
	color: #fff;
}
.button_back:hover{
	border: 1px solid #959595;
	background: #959595;
	color: #fff;

}.button_back2{
	position: relative;
	float: left;
	height: 20px;
	width: 100px auto;
	padding: 8px 47px 3px 47px;
	margin-right: 12px;
	border-radius: 3px;
	border: 1px solid #555;
	font-size: 14px;
	font-family: sans-serif;
	text-decoration: none;
	position: static;
}
.button_back2:link,
.button_back2:active{
	background: #b7b7b7;
	border: 1px solid #b7b7b7;
	color: #fff;
}
.button_back2:visited{
	border: 1px solid #b7b7b7;
	background: transparent;
	color: #fff;
}
.button_back2:hover{
	border: 1px solid #959595;
	background: #959595;
	color: #fff;
}

.textbox{
	position: relative;
	background: #fff;
	position: static;
	height: 20px;
	width: 175px;
/*	margin-top: 5px;
	margin-bottom: 15px;*/
	padding: 5px;
	font-size: 14px;
	font-family: sans-serif;
	border: 1px solid #d7d7d7;
	border-radius: 5px;
	outline-color: transparent;
}

.textbox:focus {
	border-color: #00aeef;
	outline: 0;
	box-shadow: 0px 0px 5px 1px #acacac;
}

.tabel {
	background: transparent;
	display: block;
	padding: 0px 8px;
    font-family: sans-serif;
    border-collapse: collapse;
}
 
.tabel1 tr th{
    background: transparent;
    text-align: right;
    font-family: sans-serif;
    font-weight: 900;
    padding: 5px 10px;
    color: #565656;
    font-weight: normal;
}
 
.tabel1 th, td {
    background: transparent;
    font-family: sans-serif;
    text-align: left;
    padding: 3px 10px;
    color: #959595;
    font-weight: normal;
}

.tabel2 tr th{
    background: transparent;
    font-weight: bold;
    text-align: right;
    font-family: sans-serif;
    padding: 5px 10px;
    color: #00aeef;
    font-weight: normal;
}
 
.tabel2 th, td {
    background: transparent;
    font-family: sans-serif;
    text-align: left;
    padding: 3px 10px;
    color: #565656;
    font-weight: normal;
}

.tabel3 tr th{
    background: transparent;
    font-weight: bold;
    text-align: right;
    font-family: sans-serif;
    padding: 5px 10px;
    color: #00aeef;
    font-weight: normal;
}
 
.tabel3 th, td {
    background: transparent;
    font-family: sans-serif;
    text-align: left;
    padding: 3px 10px;
    color: #565656;
    font-weight: normal;
}

.tabel4 {
	background: #ebebeb;
	border: 0px solid #ccc;
    font-family: sans-serif;
    border-collapse: collapse;
}

.tabel5 tr th{
    background: #00aeef;
    border: 1px solid #ccc;
    padding: 8px 10px;
	border-bottom: 2px solid #ccc;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
}
 
.tabel5 th, td {
    background: transparent;
    border: 0px solid #ccc;
    font-family: sans-serif;
    padding: 0px 5px;
    font-size: 12pt;
    color: #959595;
    font-weight: normal;
}

.foto_profil img {
	width: 100px;
	height: 120px;
	padding: 3px;
	border: 2px solid #7d7d7d;
	margin:0 auto;
	display: block;
}



/*.tabel4 tr th{
    background: #00aeef;
    border: 1px solid #ccc;
    padding: 8px 10px;
	border-bottom: 2px solid #ccc;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
}
 
.tabel4 th, td {
    background: transparent;
    border: 1px solid #ccc;
    font-family: sans-serif;
    text-align: center;
    padding: 0px 5px;
    padding-top: 10px;
    color: #959595;
    font-weight: normal;
}

.tabel4 tr:nth-child(even) {
    background-color: #e1e1e1;
}*/
/*
.left_bar {
	background: #fff;
	position: fixed;
	z-index: 2;
	height: 100%;
	width: 100px auto;
	box-shadow: 0px 0px 10px 1px #7d7d7d;
}

.left_bar ul{
	padding: 0px;	
}

.left_bar ul li{
	list-style-type: none;
}


.left_bar2 {
	background: transparent;
	position: relative;
	padding: 60px 10px 10px 185px;
	height: 100%;
	width: 100px auto;
}

h3 {
	text-align: center;
	font-size: 30px;
	margin:0;
	width: 100%;
	padding: 10px 0px;
	box-sizing: border-box;
	color: #565656;
	font-family: cursive;
}

.foto_profil{
	background: ;
	position: relative;
	margin-bottom: 10px;
	padding: 20px 0px;
	border-bottom: 2px solid #d7d7d7;

}



.menu {
	background: #d7d7d7;
	display: block;
	height: 100px auto;
	padding: 15px;
	border-left: 5px solid #00aeef;
	font-family: cursive;
	font-size: 14px;
	text-decoration: none;
	color: #565656;
}


.menu2:link{
	background: transparent;
	display: block;
	height: 100px auto;
	padding: 15px;
	padding-left: 20px;
	border-left: 5px solid #7d7d7d;
	font-family: cursive;
	font-size: 14px;
	text-decoration: none;
	color: #565656;
}
.menu2:hover{
	background: #d7d7d7;
	border-left: 5px solid #7d7d7d;
	border-bottom: 2px solid #7d7d7d;
}
.menu2:active{
	background: #7d7d7d;
}
.menu2:visited{
	background: transparent;
	border-left: 5px solid #7d7d7d;
	color: #565656;
}*/

.italic {
	font-style: italic;
	display: inline;
}

.bold {
	font-weight: bold;
}

.bold2 {
	font-weight: 500;
}

.bold3 {
	font-weight: 500;
	font-size: 10pt;
}

.font1 {
	font-size: 10pt;
}

.font2 {
	font-size: 10pt;
	color: #00aeef;
	display: inline;
}

.font3 {
	color: #555;
	font-weight: 700;
}

.font4 {
	font-size: 8pt;
	color: black;
	font-weight: 700;
}