body {
	background: radial-gradient(circle at top right, #ebebeb, #a1a1a1); 
}


*{
	margin: 0; padding: 0;
}

.top_bar{
	background: transparent;
	padding: 0px;
	margin: 0px;
	color: transparent;
}

.tengah{
	margin: 15px auto;
	width: 1150px;
}

.kotak_tengah{
	background: #eeeeee;
	position: relative;
	width: 500px;
	height: 300px auto;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 5px 1px ;
	border: 1px solid grey;
}

.kotak_dalam{
	background: transparent;
	padding: 25px;
	position: relative;
	bottom: 0;
	right: 0;
	left: 0;
}

h2{
	font-family: cursive;
	background: #00aeef;
	color: #fff;
	text-align: center;
	font-style: italic;
	height: 300px auto;
	width: 500px;
	border-bottom: 3px solid #00aeef;
	padding: 10px 0px 10px 0px;
	position: inherit;
}

label {
	font-size: 10pt;
	color: #555;
	font-family: cursive;
}

p {
	font-size: 10pt;
	color: #555;
	font-family: serif;
}

.textbox{
	height: 20px;
	width: 437px;
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 5px;
	font-size: 14px;
	font-family: sans-serif;
	position: relative;
	background: #fff;
	border: 1px solid #d7d7d7;
	outline-color: transparent;
}

.textbox:focus {
	border-color: #00aeef;
	outline: 0;
	box-shadow: 0px 0px 5px 1px #acacac;
}

.button_register{
	background: #0000ff;
	height: 20px;
	width: 100px auto;
	padding: 6px 15px 23px 15px;
	border-radius: 3px;
	border: 1px solid #0000ff;
	font-size: 14px;
	font-family: sans-serif;
	color: #fff;
	position: relative;

}
.button_register:link,
.button_register:active,
.button_register:visited,
.button_register:hover{
	border: 1px solid #0000d2;
	color: #fff;
	background: #0000d2;
}

.button_back{
	height: 20px;
	width: 100px auto;
	padding: 6px 25px 3px 25px;
	border-radius: 3px;
	border: 1px solid #555;
	font-size: 14px;
	font-family: sans-serif;
	text-decoration: none;
	position: static;
	float: right;
}
.button_back:link,
.button_back:active{
	background: #b7b7b7;
	border: 1px solid #b7b7b7;
	color: #fff;
}
.button_back:visited{
	border: 1px solid #b7b7b7;
	background: transparent;
	color: #fff;
}
.button_back:hover{
	border: 1px solid #959595;
	background: #959595;
	color: #fff;
}