body:before {
  content: "";
  position: fixed;
  z-index: -1;
  background-size:cover;
  background-position:center top;
  display: block;
  background-image: url('../img/bg10.jpg');
  width: 100%;
  height: 580px;
  filter: blur(3px) ;
  -webkit-filter: blur(3px) ;

}


*{
	margin: 0;
	padding: 0;
}

.top_bar{
	background: transparent;
	padding: 0px;
	padding-left: 30px;
	margin: 0px;
	color: transparent;
}

.tengah{
	margin: 90px auto;
	width: 1150px;
}

.kotak_tengah{
	background: #eeeeee;
	padding: 10px 0px 0px 0px;
	position: relative;
	width: 350px;
	height: 300px auto;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 5px 1px;
	border: 0px solid grey;
}

h2{
	font-family: cursive;
	color: #555;
	text-align: center;
	font-style: italic;
	height: 300px auto;
	width: 350px;
	border-bottom: 1px solid grey;
	padding: 0px 0px 10px 0px;
	position: inherit;
}

.kotak_dalam{
	background: transparent;
	padding: 20px;
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
}

label {
	font-size: 14pt;
	color: #555;
}

.textbox{
	height: 20px;
	width: 300px;
	margin-top: 5px;
	margin-bottom: 15px;
	padding: 5px;
	font-size: 14px;
	font-family: sans-serif;
]	position: relative;
	background: #fff;
	border: 1px solid #d7d7d7;
	outline-color: transparent;
}

.button_login{
	background: #0000ff;
	height: 20px;
	width: 312px ;
	margin-top: 10px;
	margin-top: 10px;
	padding: 6px 10px 23px 10px;
	border-radius: 3px;
	border: 1px solid #0000ff;
	font-size: 14px;
	font-family: sans-serif;
	color: #fff;
	position: relative;
}
.button_login:link,
.button_login:active,
.button_login:visited,
.button_login:hover{
	border: 1px solid #0000d2;
	color: #fff;
	background: #0000d2;
}

.tulisan_or {
	font-size: 10pt;
	color: #acacac;
	margin-left: 147px ;
	margin-top: 15px;
	width: 20px;
	padding: 0px;
	background: #eee;
	position: absolute;
	font-family: Arial, Helvetica, sans-serif;	
}

.button_register{
	height: 20px;
	padding: 9px 132px 9px 132px;
	border-radius: 3px;
	border: 1px solid #00aeef;
	font-size: 12px;
	font-family: sans-serif;
	text-decoration: none;
	position: static;
}
.button_register:link,
.button_register:active{
	border: 1px solid #00aeef;
	background: transparent;
	color: #555;
}
.button_register:visited{
	border: 1px solid #00aeef;
	background: transparent;
	color: #555;
}
.button_register:hover{
	border: 1px solid #00aeef;
	background: transparent;
	color: #00aeef;
}


.box_or{
	font-size: 10pt;
	color: grey;
	margin: 5px auto;
	width: 312px;
	padding: 2px;
	background: transparent;	
	font-family: cursive;
}