body {
  background: radial-gradient(circle at top right, #1cb5e0, #0d004c);  
  height: 578px;
  font-size: 100px;
}

*{
	margin: 0;
	padding: 0;
}
h2 {
    background: linear-gradient(to bottom, #0cebeb, #20e3b2, #29ffc6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    font-family: cursive;
    font-size: 36pt;
}

.border_box {
    border: 3px solid transparent;
    border-image: linear-gradient(to bottom, #22c1c3, #20e3b2);
    border-image-slice: 1;
    width: 500px;
    height: 100px auto;
    padding: 5px 5px 5px 5px;
    margin: 10px auto;
    font-size: 12px;
    border-radius: 10px;
    background: #fff;
}

.border_box::after {
	content: '';
	top: -5px;
	bottom: -5px;
	left: -5px;
	right: -5px;
	z-index: -1;
	border-radius: 10px;
}