body {
	background: #ebebeb;
	margin: 0;
	padding: 0;
}

/**{

}*/

.nav-bar {
	background-color: #7d7d7d;
	position: fixed;
	z-index: 2;
	width: 100%;
	font-family: sans-serif;
}

.nav-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.nav-bar > ul > li {
	float: right;
}

.nav-bar li a {
	display: inline-block;
	color: #fff;
	text-align: left;
	padding: 20px 30px;
	text-decoration: none;
}

.nav-bar li a:hover{
	background-color: #707070; 
}

li.dropdown {
	display: inline-block;
}

.dropdown:hover .isi-dropdown {
	display: block;
}

.isi-dropdown a:hover {
	color: #7d7d7d !important;
}

.isi-dropdown {
	position: absolute;
	display: none;
	width: 100%;
	box-shadow: 0px 8px 16px 0px solid #fff;
	z-index: 1;
	background-color: #f9f9f9;
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

.isi-dropdown a {
	color: #3c3c3c !important;
	width: 100%;
	border-bottom: 0px solid #ccc;
}

.isi-dropdown a:hover {
	color: #232323 !important;
	background: #ccc !important;
}


.hidden{
	background: transparent;
	position: relative;
	z-index: -1;
	color: transparent;
}

.left_bar {
	background: #fff;
	position: fixed;
	z-index: 2;
	height: 100%;
	width: 100px auto;
	box-shadow: 0px 0px 10px 1px #7d7d7d;
}

.left_bar ul{
	padding: 0px;	
}

.left_bar ul li{
	list-style-type: none;
}


.left_bar2 {
	background: transparent;
	position: relative;
	padding: 60px 10px 10px 185px;
	height: 100%;
	width: 100px auto;
}

h3 {
	text-align: center;
	font-size: 30px;
	margin:0;
	width: 100%;
	padding: 10px 0px;
	box-sizing: border-box;
	color: #565656;
	font-family: cursive;
}

.foto_profil{
	background: ;
	position: relative;
	margin-bottom: 10px;
	padding: 20px 0px;
	border-bottom: 2px solid #d7d7d7;

}

.foto_profil img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	padding: 3px;
	border: 4px solid #7d7d7d;
	margin:0 auto;
	display: block;
}

.foto_profil a {
	padding: 0px 20px;
	text-decoration: none;
	font-weight: bold;
	color: #464646;
	text-align: center;
	font-family: cursive;
	background: transparent;
	margin:0 auto;
	display: block;
	font-size: 10pt;
}

.menu {
	background: #d7d7d7;
	display: block;
	height: 100px auto;
	padding: 15px;
	border-left: 5px solid #00aeef;
	font-family: cursive;
	font-size: 14px;
	text-decoration: none;
	color: #565656;
}


.menu2:link{
	background: transparent;
	display: block;
	height: 100px auto;
	padding: 15px;
	padding-left: 20px;
	border-left: 5px solid #7d7d7d;
	font-family: cursive;
	font-size: 14px;
	text-decoration: none;
	color: #565656;
}
.menu2:hover{
	background: #d7d7d7;
	border-left: 5px solid #7d7d7d;
	border-bottom: 2px solid #7d7d7d;
}
.menu2:active{
	background: #7d7d7d;
}
.menu2:visited{
	background: transparent;
	border-left: 5px solid #7d7d7d;
	color: #565656;
}

.tengah{
	margin: 90px auto;
	width: 1150px;
}

.kotak_tengah{
	background: #fff;
	padding: 20px 30px;
	margin: 100px 0px 0px 300px;
	position: relative;
	width: 800px;
	height: 300px auto;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 10px 1px #7d7d7d;
	border: 0px solid #fff;
}

.kotak_dalam {
	border-bottom: 3px solid #d7d7d7;
	font-family: cursive;
	float: left;
	padding-bottom: 5px;
	margin-bottom: 10px;
	color: #00aeef;
	width: 100%;
	font-size: 20pt;
}

.button_update:link{
	background: #00aeef;
	border-radius: 4px;
	float: right;
	padding: 8px 22px;
	border: 0px ;
	font-family: sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #fff;
}
.button_update:hover{
	background: #0072bc;
}
.button_update:active{
	color: #565656;
}
.button_update:visited{
	background: #00aeef;
	color: #fff;
}

.tabel {
	background: transparent;
	display: block;
	padding: 0px 8px;
    font-family: sans-serif;
    border-collapse: collapse;
}
 
.tabel1 tr th{
    background: transparent;
    text-align: right;
    font-family: sans-serif;
    font-weight: 900;
    padding: 5px 10px;
    color: #565656;
    font-weight: normal;
}
 
.tabel1 th, td {
    background: transparent;
    font-family: sans-serif;
    text-align: left;
    padding: 3px 10px;
    color: #959595;
    font-weight: normal;
}

.tabel2 tr th{
    background: transparent;
    font-weight: bold;
    text-align: right;
    font-family: sans-serif;
    padding: 5px 10px;
    color: #00aeef;
    font-weight: normal;
}
 
.tabel2 th, td {
    background: transparent;
    font-family: sans-serif;
    text-align: left;
    padding: 3px 10px;
    color: #565656;
    font-weight: normal;
}

.tabel3 tr th{
    background: transparent;
    font-weight: bold;
    text-align: right;
    font-family: sans-serif;
    padding: 5px 10px;
    color: #00aeef;
    font-weight: normal;
}
 
.tabel3 th, td {
    background: transparent;
    font-family: sans-serif;
    text-align: left;
    padding: 3px 10px;
    color: #565656;
    font-weight: normal;
}

.tabel4 {
	background: #ebebeb;
	border: 0px solid #ccc;
    font-family: sans-serif;
    border-collapse: collapse;
}
 
/*.tabel4 tr th{
    background: #00aeef;
    border: 1px solid #ccc;
    padding: 8px 10px;
	border-bottom: 2px solid #ccc;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    color: #fff;
}
 
.tabel4 th, td {
    background: transparent;
    border: 1px solid #ccc;
    font-family: sans-serif;
    text-align: center;
    padding: 0px 5px;
    padding-top: 10px;
    color: #959595;
    font-weight: normal;
}

.tabel4 tr:nth-child(even) {
    background-color: #e1e1e1;
}*/

.italic {
	font-style: italic;
	display: inline;
}

.bold {
	font-weight: bold;
}

.bold2 {
	font-weight: 500;
}

.bold3 {
	font-weight: 500;
	font-size: 10pt;
}

.font1 {
	font-size: 10pt;
}

.font2 {
	font-size: 10pt;
	color: #00aeef;
	display: inline;
}

.font3 {
	color: #555;
	font-weight: 700;
}